body {
  display: flex;
  justify-content: center;
  align-items: end;
}

.container {
  display: flex;
  justify-content: stretch;
  width: 550px;
  height: 550px;
}

.square {
  width: 30px;
  height: 30px;
  border: 1px black solid;
}